---
import { Image } from "astro:assets";
import writer from "../../public/assets/writer.svg";
import post from "../../public/assets/post.svg";
import profile from "../../public/assets/profile.svg";
import chat from "../../public/assets/chat.svg";

import Buttons from "../buttons/buttons.astro";
import Header from "../header/header.astro";
import Card from "../card/card.astro";
const chatCardTitle = "Realtime chat ...";
const chatCardContent = "send messages to your friends";
const postCardContent = "Make posts, and tell what is happening worldwide";
const postCardTitle = "Share your stories ...";
---

<main>
  <Header />
  <section class="cards-section" id="about">
    <Card
      image={post}
      title={postCardTitle}
      content={postCardContent}
      styleClass="false"
    />
    <Card
      image={chat}
      title={chatCardTitle}
      content={chatCardContent}
      styleClass="true"
    />
  </section>
</main>

<style></style>
