---
import trending from '../public/assets/trending.svg'
import account from '../public/assets/account.svg'
import logout from '../public/assets/logout.svg'
import books from '../public/assets/book.svg'
import addBook from '../public/assets/book_add.png'
import settings from '../public/assets/settings.svg'
import Input from './Input.astro'
---
<header>
  
  <section class="header-section">
    <a href=""><img src={addBook.src} alt="" width="30px" height="30px"></a>
    <a href=""><img src={trending.src} alt="" width="30px" height="30px"></a>
    <a href=""><img src={books.src} alt="" width="30px" height="30px"></a>
    <Input placeholder="Qué quieres aprender hoy" type="text"/>
    <a href=""><img src={account.src} alt="" width="30px" height="30px"></a>
    <a href=""><img src={settings.src} alt="" width="30px" height="30px"></a>
    <a href=""><img src={logout.src} alt="" width="30px" height="30px"></a>
  </section>
</header>


<style>
  .header-section {
    padding: 25px;
    display: flex;
  }
  img {
    margin: 8px;
  }
</style>
<script>
  import { getUsersAuth } from "../services/getUserAuth";


const user = JSON.parse(window.localStorage.getItem('userCredential'))
if(user) {
  getUsersAuth(user._id)
  .then((data) => {
    if(data._id === user._id){
      const text = document.getElementById('welcome_text')
      text.innerText = `Welcome to Bucvers ${data.firstname} ${data.lastname}`
    } else {
      window.location.href = '/register'
    }
  })
} else {
  window.location.href = '/register'
}
</script>